NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.dgspec.json
NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.g.props
NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.g.targets
NursingProblemApplicationALPHA/obj/project.assets.json
NursingProblemApplicationALPHA/obj/project.nuget.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/mauiimage.inputs
NursingProblemApplicationALPHA/obj/project.assets.json
NursingProblemApplicationALPHA/obj/project.nuget.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/R.txt
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/build.props
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/resizetizer/r/drawable/back.png
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/resizetizer/r/drawable/next.png
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/build.props
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.nfloat.g.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/mauisplash.inputs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.dgspec.json
NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.g.props
NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.g.targets
NursingProblemApplicationALPHA/obj/project.assets.json
NursingProblemApplicationALPHA/obj/project.nuget.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/_Microsoft.Android.Resource.Designer.dll
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/mauiimage.inputs
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/mauiimage.outputs
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/R.txt
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/build.props
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.nfloat.g.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.nfloat.g.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/mauisplash.inputs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.csproj.AssemblyReference.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
