NursingProblemApplicationALPHA/obj/NursingProblemApplicationALPHA.csproj.nuget.dgspec.json
NursingProblemApplicationALPHA/obj/project.assets.json
NursingProblemApplicationALPHA/obj/project.nuget.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/mauiimage.outputs
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/build.props
NursingProblemApplicationALPHA/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-ios/iossimulator-x64/NursingProblemApplicationALPHA.nfloat.g.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
NursingProblemApplicationALPHA/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/NursingProblemApplicationALPHA.nfloat.g.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.AssemblyInfo.cs
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.AssemblyInfoInputs.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.assets.cache
NursingProblemApplicationALPHA/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/NursingProblemApplicationALPHA.GeneratedMSBuildEditorConfig.editorconfig
/NursingProblemApplicationALPHA/bin/Debug/net8.0-windows10.0.19041.0/win10-x64
/.vs
